.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hide_reason {
  display: none;
}
.hide_army_form {
  display: none;
}

/*/ /////////////////// Set User Sheet . js ////////////////////*/
.submitBtn {
  border: none;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: none;
  font-size: 2rem;
}

.flexResume{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flexResume section{
  border-bottom: 5px solid black;
  padding: 20px;
}
/* SetUserSheet 컴포넌트 관련 */

.footerContainer {
  display: flex;
  justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
