* {
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.Navbar {
  display: flex;
  background: rgba(0, 51, 255, 0.8);
  width: 100%;
  color: white;
  padding: 20px;
}

.ModifyBtn {
  border-radius: 10px;

  margin: 10px;
  margin-left: 130px;
}

.ShowResume {
}

.ShowEdu {
}

.ShowHis {
}

.ShowTech {
}

.ShowVoca {
}

.ShowAward {
}
