* {
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.Navbar {
  display: flex;
  justify-content: center;
  background: white;
  width: 100%;
  color: black;
  padding: 50px;
  padding-top: 80px;
}

.ModifyBtn {
  border-radius: 10px;

  margin: 10px;
  margin-left: 130px;
}

.ShowResume {
}

.ShowEdu {
}

.ShowHis {
}

.ShowTech {
}

.ShowVoca {
}

.ShowAward {
}
