.viewContainer {
  display: grid;
  grid-template-areas:
    "pad pad pad"
    "title title title"
    "l btn r"
    "l main r"
    "footer footer footer";
  gap: 0px;
}
.pad {
  grid-area: pad;
}

.Nav {
  background: white;
  padding: 50px;
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
  grid-area: title;
}

.btnContainer {
  grid-area: btn;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: 50px;
  margin: 0 auto;
}

.write {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  text-decoration: none;
  color: grey;
}
.write:hover {
  color: black;
}

.asideLeft {
  grid-area: l;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  margin: 0 auto;
}
.asideRight {
  grid-area: r;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  margin: 0 auto;
}

.tableWrap {
  grid-area: main;
  min-height: 500px;
}
.table {
  border-top: thick double rgb(146, 146, 146);
  margin: 0 auto;
  width: 800px;
}

.table tr {
  border-bottom: 1px solid lightgrey;
}

.table th {
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.table th:nth-child(1) {
  min-width: 70px;
}
.table th:nth-child(2) {
  min-width: 400px;
  max-width: 400px;
}
.table th:nth-child(3) {
  min-width: 100px;
  max-width: 150px;
}
.table th:nth-child(4) {
  min-width: 100px;
  max-width: 100px;
}
.table th:nth-child(5) {
  min-width: 100px;
  max-width: 100px;
}

.table td {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 13px;
}

.table td:nth-child(1) {
  min-width: 70px;
  max-width: 70px;
}
.table td:nth-child(2) {
  min-width: 400px;
  max-width: 400px;
}
.table td:nth-child(2) {
  font-size: 13px;
  min-width: 400px;
  max-width: 400px;
}

.table tr:hover {
  background-color: rgba(237, 237, 237, 0.5);
}

.titleHref {
  text-decoration: none;
  color: black;
}

.footer {
  grid-area: footer;
}

.posts {
  border: 1px solid;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 5px; */
}
