.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.firstTitle {
  font-size: 1rem;
}

.titlenumb1 {
  font-size: 11px;
  box-sizing: inherit;
}

.leftSide {
  width: 50%;
}

.inputForm {
  width: 100%;
}
.Wrap {
  padding-top: 30px;
  padding: 20px;
}

.titleSet {
  padding: 10px;
}

.rightSide {
  padding: 50px;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 5px 10px;
  overflow-y: auto;
}

.footerContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: -1px 0px 10px lightgrey;
}
.submitBtn {
  background: white;
  border: none;
}
.exitBtn {
  background: white;
  border: none;
}
.deleteBtn {
  background: white;
  border: none;
}
/* sx={{
  "  .ql-editor": {
    padding: "30px",
    boxShadow: "0 0 5px 0 rgba(0, 0, 0, 0.5)",
    margin: "2px",
    width: "100%",
    maxHeight: "75vh",
    minHeight: "75vh",
    backgroundColor: "white",
  },
  "  .ql-container.ql-snow": {
    border: "none",
    display: "flex",
    justifyContent: "center",
  },
}} */
